.about {
  @include media ($screen-tablet) {
    background-color: $light_blue;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  background-color: $light_blue;
  display: block;
  padding: 15px;

  &__images {
    @include media ($screen-tablet) {
      display: block;
      
    }
    display: none;
    width: 566px;
    height: 559px;
  }

  &__container {
    @include media ($screen-tablet) {
      width: 600px;
      padding: 94px;
    }
    margin: 0 auto;
    max-width: 600px;
  }
  &__title {
    line-height: 70px;
    font-size: 70px;
  }
  &__title,
  &__subtitle {
    @include media ($screen-tablet) {
      color: $white;
    width: 499px;
    margin-top: 10px;
    }
    
    color: $white;
    max-width: 499px;
    margin: 10px auto;
    text-align: center;
  }
}
