.gallery {
  @include media($screen-tablet) {
    background: $yellow;
    padding-top: 120px;
  }
  background: $yellow;
  padding: 120px 15px 100px 15px;

  &__container {
    @include media($screen-tablet) {
      width: 577px;
      margin-left: auto;
      margin-right: auto;
    }
    margin: 0 auto;
    width: 280px;
  }
  &__list {

    margin-top: 55px;
  }
  &__block-image {
    display: flex;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__title {
    @include media ($screen-tablet) {
      text-align: center;
    }
    font-size: 68px;
    text-align: center;
    
  }
  &__subtitle {
    text-align: center;
  }
  &__image1, &__image2,
  &__img1,&__img2,
  &__logo {
    ///margin: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  &__block-logo {
    @include media ($screen-tablet) {
      width: 770px;
height: 550px;
    }
    width: 770px;
height: auto;
margin: 10px;
  }
  &__logo {
    @include padding-hack (71%);
    width: 99.5%;
  }
  &__block-img {
    @include media ($screen-tablet) {
      width: 370px;
height: 550px;
    }
    width: 770px;
height: auto;
margin: 10px;
  }
 &__img1 {
  @include media ($screen-tablet) {
    width: 370px;
height: 260px;
padding-left: 30px;
  }
  @include padding-hack (71%);
  width: 99.5%;
 }
 &__img2 {
  @include media ($screen-tablet) {
    margin-top: 2px;
  padding-left: 30px;
  width: 370px;
height: 260px;
  }
  @include padding-hack (71%);
  width: 99.5%;
}
&__block-image {
  @include media ($screen-tablet) {
    width: 1170px;
    height: 400px;
    display: flex;
    margin: 0;
  }
  display: block;
  width: 770px;
height: auto;
margin: 10px;
}
&__image1 {
  @include media ($screen-tablet) {
    margin-top: 26px;
  margin-right: 13px;
  }
 margin: 1px;
}
&__image2 {
  @include media ($screen-tablet) {
    margin-top: 26px;
  margin-left: 13px;
  }
 margin: 1px;
}
&__image1, &__image2 {
  @include media ($screen-tablet) {
    @include padding-hack (34.5%);
  width: 50%;
  }
  
  @include padding-hack (71%);
  width: 99.5%;
}
  &__button {
    background: $blue;
    margin: 50px auto 0 auto;
  }
  }

.email {
  @include media($screen-tablet) {
    background: url("/assets/images/subscribe-img.png");
    height: 500px;
    display: block;
    
    padding-left: 164px;
    
  }
  background: url("/assets/images/subscribe-img.png");
  height: 500px;
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px;

  &__caption {
    @include media($screen-tablet) {
      font-size: 40px;
      font-weight: 700;
      line-height: 27px;
      margin-top: 145px;
      margin-bottom: 34px;
      text-align: start;
    }
    text-align: center;
    min-width: 280px;
    margin-bottom: 30px;
  }
  &__subtitle {
    @include media($screen-tablet) {
      width: 550px;
      height: 43px;
      margin: 0 0 31px 0;
      text-align: start;
    }
    max-width: 550px;
    margin: 0 auto 30px auto;
  }
  &__container {
    @include media($screen-tablet) {
      display: flex;
    }
    display: block;
  }
  &__imput {
    @include media($screen-tablet) {
      width: 570px;
      height: 55px;
      border: 1px solid $black;
      font-size: 15px;
      font-weight: 300;
      line-height: 27px;
      opacity: 0.5;
      margin-right: 30px;
    }
    min-width: 250px;
    height: 55px;
    border: 1px solid $black;
    font-size: 15px;
    font-weight: 300;
    line-height: 27px;
    opacity: 0.5;
    margin-bottom: 30px;
  }
  &__button {
    background-color: $green;
    @include media($screen-tablet) {
      margin: 0;
    }
    margin: 0 auto;
  }
}
