.gallery {
  @include media ($screen-tablet) {
    background: $yellow;
  padding-top: 120px;
  }
  background: $yellow;
  padding: 15px;


  &__container {
    @include media ($screen-tablet) {
      width: 577px;
    margin-left: auto;
    margin-right: auto;
    }
    width: 280px;
    
  }
  &__list {
    margin-top: 55px;
  } 
  &__block-image,
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__title {
    @include media ($screen-tablet) {

    }
  }
  &__title,
  &__subtitle {
    @include media ($screen-tablet){
      text-align: center;
      width: 577px;
      height: 50px;
    }
    width: 250px;
  }
  &__image,
  &__img,
  &__logo {
    height: auto;
    margin: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  }
  &__logo {
    width: 66%;
    @include padding-hack (66%)
  }
  &__button {
    background: $blue;
    margin: 50px auto 0 auto;
  }
}

.email {
  @include media ($screen-tablet) {
    background: url("/assets/images/subscribe-img.png");
  height: 500px;
  display: block;
  align-items: center;
  justify-content: center;
    padding-left: 164px;
  }
  background: url("/assets/images/subscribe-img.png");
  height: 500px;
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px;
  
  &__caption {
    @include media ($screen-tablet) {
    font-size: 40px;
    font-weight: 700;
    line-height: 27px;
    margin-top: 145px;
    margin-bottom: 34px;
    width: 305px ;
  }
  min-width: 280px ;
  margin-bottom: 30px;
  }
  &__subtitle {
    @include media ($screen-tablet) {
      text-align: start;
    width: 550px;
    height: 43px;
    margin-bottom: 31px;
    }
    max-width: 550px;
    margin-bottom: 30px;
  }
  &__container {
    @include media ($screen-tablet) {
      width: 670px;
      display: flex;
    }
    display: block;
  }
  &__imput {
    @include media ($screen-tablet) {
      width: 570px;
    height: 55px;
    border: 1px solid $black;
    font-size: 15px;
    font-weight: 300;
    line-height: 27px;
    opacity: 0.5;
    margin-right: 30px;
    }
    min-width: 250px;
    height: 55px;
    border: 1px solid $black;
    font-size: 15px;
    font-weight: 300;
    line-height: 27px;
    opacity: 0.5;
    margin-bottom: 30px;

  }
  &__button {
    background-color: $green;
    @include media ($screen-tablet) {
  
    }
    margin: 0 auto;
  }
}
