.header {
  background-image: url(/assets/images/header-img.png);
  padding: 30px 165px 0px 165px;
  min-height: 970px;

  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 70px;
    margin-bottom: 258px;
  }
  &__caption {
    width: 127px;
    height: 70px;
    font-size: 50px;
    font-weight: 400;
    font-family: Pacifico;
  }
  &__nav {
    width: 515px;
    height: 25px;
    margin-top: 35px;
    &--anchor {
      color: $black;
    }
    &--list {
      font-family: Raleway;
      font-size: 16px;
      font-weight: 700;
      line-height: 25px;
      display: inline-block;
      margin-right: 25px;
      border-top: 3px solid transparent;
      transition: 0.5s;

      &:hover {
        border-top: 3px solid $orang;
      }
      &:last-child {
        margin-right: 0px;
      }
    }
  }
  &__headline {
    width: 350px;
    height: 46px;
    color: $black;
    font-size: 62px;
    font-weight: 900;
    line-height: 25px;
    margin-bottom: 34px;
  }
  &__subtitle {
    width: 380px;
    height: 70px;
    color: $black;
    margin-bottom: 31px;
  }
  &__scroll {
    width: 24px;
    height: 40px;
    display: block;
    justify-content: center;
    margin: 295px auto 0 auto;

    &--img {
      width: 24px;
      height: 40px;
    }
  }
}
