.services {
  @include media($screen-tablet) {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: $blue;
  padding: 100px 165px 151px 165px;
}
display: block;
align-items: center;
padding: 50px 0 50px 0 ;
background: $blue;

  &__items {
    @include media($screen-tablet) {
      width: 410px;
    height: 460px;
    }
    width: 300px;
    height: 460px;
    margin: 0 auto;
  }

  &__button {
    @include media($screen-tablet) {
      width: 400px;
    height: 100px;
    margin-bottom: 20px;
    background-color: $white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    }
    width: 290px;
    height: 100px;
    margin: 0 auto 20px auto;
    background-color: $white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;

    &:hover {
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    }

    &-text {
      width: 300px;
      height: 50px;
      font-size: 20px;
      font-weight: 700;
      display: block;
      align-items: center;
      text-align: center;
      padding-top: 12px;
    }
    &-text1 {
      width: 300px;
      height: 50px;
      font-size: 20px;
      font-weight: 700;
      display: block;
      align-items: center;
      text-align: center;
    }
  
    &-icon {
      @include media ($screen-tablet) {
        width: 50px;
      height: 50px;
      margin: 25px;
      }
      width: 80px;
      height: 80px;
      margin: 10px;
    }
    &-line {
      background-color: $black;
      width: 1px;
      height: 98px;
    }
  }
  &__aside {
    @include media ($screen-tablet) {
      width: 550px;
    height: 700px;
    justify-content: center;
    align-items: center;
    display: flex;
    }
   display: none;
  }
  &__images {
    @include media ($screen-tablet) {
    padding: 0 0 90px 90px;
  }
  margin: 20px auto 0 auto;
  width: 300px;
}
  &__title {
    @include media ($screen-tablet) {
      width: 570;
    height: 67px;
    color: $white;
    position: absolute;
    }
    width: 290px;
    color: $white;
    position: absolute;
  }
}
