<section id="Ancho1" class="about">
    <img class="about__images" src="/assets/images/about-img.png" alt="img">
    <div class="about__container">
    <h1 class="about__title title">About Us</h1>
    <p class="about__subtitle subtitle">Abore Cahee magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
    <p class="about__subtitle subtitle">Nim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
    </div>
</section>