<section id="Ancho5" class="contact">
    <h1 class="contact__title title">Contact</h1>
    <h3 class="contact__subtitle subtitle">For new projects, ideas, business or anything
        you'd like to discuss, contact with me!</h3>
    <section class="contact__container">
        <form class="contact__aside">
            <input class="contact__aside--small" type="name" placeholder="Auskteez Tran">
            <input class="contact__aside--small" type="name" placeholder="Your email...">
            <input class="contact__aside--small" type="name" placeholder="Your phone number...">
            <input class="contact__aside--big" type="name" placeholder="Your messge...">
        </form>
        <ul class="contact__data">
            <li class="contact__data--big">ADDRESS
                <p class="contact__data--small">123 City name, Street, City, Country</p>
            </li>
            <li class="contact__data--big">EMAIL
                <p class="contact__data--small">cahee@domain.com</p>
            </li>
            <li class="contact__data--big">PHONE
                <p class="contact__data--small">+012 345 6789</p>
            </li>
        </ul>
    </section>
    <section class="contact__futer">
        <p class="contact__futer--subtitle subtitle">© 2015 Company. All right reserved.</p>
        <p class="contact__futer--cahee caption">Cahee</p>
        <p class="contact__futer--subtitle subtitle">Made with<span class="contact__futer--red"> love </span>by Auskteez
        </p>
    </section>
</section>