<section id="Ancho3" class="gallery">
    <div class="gallery__container">
        <h1 class="gallery__title title">Gallery</h1>
        <h3 class="gallery__subtitle subtitle">Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat.</h3>
    </div>
    <ul class="gallery__list">
        <div class="gallery__block-logo">
            <li class="gallery__logo"> <img src="/assets/images/gallery-img1.png" alt=""></li>
        </div>
        <div class="gallery__block-img">
            <li class="gallery__img1"><img src="/assets/images/gallery-small_img1.png" alt=""></li>
            <li class="gallery__img2"><img src="/assets/images/gallery-small_img2.png" alt=""></li>
        </div>
        <div class="gallery__block-image">
            <li class="gallery__image1"><img src="/assets/images/gallery-big_img1.png" alt=""></li>
            <li class="gallery__image2"><img src="/assets/images/gallery-big_img2.png" alt=""></li>
        </div>
    </ul> 
    <button class="gallery__button button">VIEW MORE</button>
</section>
<section class="email">
    <h2 class="email__caption">Subscribe To Us</h2>
    <p class="email__subtitle subtitle">Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    <form class="email__container" action="email">
        <input  class="email__imput" type="email" placeholder="Your email address...">
        <button class="email__button button">SUBSCRIBE</button>
    </form>
</section>
