<header class="header">
    <div class="header__burger">
        <input type="checkbox" id="check-menu">
        <label class="header__burger--label" for="check-menu"></label>
        <div class="header__burger--line first"></div>
        <div class="header__burger--line second"></div>
        <div class="header__burger--line third"></div>
        <div class="header__burger--line fourth"></div>
        <nav class="header__burger--menu">
            <a class="header__burger--button" href="#">HOME</a>
            <a class="header__burger--button" href="#">ABOUT</a>
            <a class="header__burger--button" href="#">SERVICES</a>
            <a class="header__burger--button" href="#">GALLERY</a>
            <a class="header__burger--button" href="#">BLOG</a>
            <a class="header__burger--button" href="#">CONTACT</a>
        </nav>
      </div>
    <div class="header__container">
        <h2 class="header__caption caption">Cahee</h2>
        <ul class="header__nav">
            <li class="header__nav--list">HOME</li>
            <li class="header__nav--list"><a class="header__nav--anchor" href="#Ancho1">ABOUT</a></li>
            <li class="header__nav--list"><a class="header__nav--anchor" href="#Ancho2">SERVICES</a></li>
            <li class="header__nav--list"><a class="header__nav--anchor" href="#Ancho3">GALLERY</a></li>
            <li class="header__nav--list"><a class="header__nav--anchor" href="#Ancho4">BLOG</a></li>
            <li class="header__nav--list"><a class="header__nav--anchor" href="#Ancho5">CONTACT</a></li>
        </ul>
    </div> 
    <h1 class="header__headline">Fresh Life</h1>
    <p class="header__subtitle">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco.</p>
    <button class="header__button button">GET FREE NOW</button>
    <div class="header__scroll">
        <img class="header__scroll--img" src="/assets/images/scroll.png" alt="scroll">
    </div>
</header>