<header class="header">
    <div class="header__container">
<h2 class="header__caption caption">Cahee</h2>
<ul class="header__nav">
<li class="header__nav--list">HOME</li>
<li class="header__nav--list"><a class="header__nav--anchor" href="#yak1">ABOUT</a></li>
<li class="header__nav--list"><a class="header__nav--anchor" href="#yak2">SERVICES</a></li>
<li class="header__nav--list"><a class="header__nav--anchor" href="#yak3">GALLERY</a></li>
<li class="header__nav--list"><a class="header__nav--anchor" href="#yak4">BLOG</a></li>
<li class="header__nav--list"><a class="header__nav--anchor" href="#yak5">CONTACT</a></li>
</ul>
</div>

<h1 class="header__headline">Fresh Life</h1>
<p class="header__subtitle">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
<button class="header__button button">GET FREE NOW</button>
</header>