$blue: #70bfff;
$white: #ffffff;
$grey_dark: #9d9d9d;
$light_blue: #00c4c4;
$gray: #b9b9b9;
$green: #96b92c;
$yellow: #ffe92f;
$darken_blue: #355b82;
$darker_white: #fbfbf7;
$violet: #b07cf7;
$black: #262626;
$dark_blue: #5585a2;
$red: #f72b3b;
$orang: #ff6033;