.contact__futer {
    width: 900px;
    height: 90px;
    background: $black;
    color: $white;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 32px 164px 31px 164px;
}