.title__container {
    width: 350px;
    height: 154px;
    display: block;
    text-align: center;
}
.contact__title {
    width: 337px;
height: 65px;
font-size: 90px;
font-weight: 700;
line-height: 25px;
}
.contact__subtitle {
    width: 350px;
height: 41px;
font-size: 17px;
font-weight: 300;
line-height: 25px;
}