* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Raleway;
}
.services__container {
   display: flex;
  justify-content: center;
align-items: center;
  background-color: $liht_blue;
  width: 1700;
  height: 100vh;
}
