.aside {
  width: 550px;
  height: 550px;
  margin-left: 208px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.services__caption {
  width: 570;
  height: 67px;
  color: $white;
  font-family: Raleway;
  font-size: 90px;
  font-weight: 700;
  line-height: 27px;
  position: absolute;
}
